<!--event.tmpl-->
<div class="col-md-8 col-md-offset-2 well">
<div id="calendar-event"><!-- ###EVENT### --><!-- ###EVENT### --></div>
<!-- ###RELATED_LIST### start -->
	<!-- ###LIST_TEMPLATE### start -->
		
		<!-- ###PRE_LIST_TEMPLATE### begin -->
		
		<!-- ###PRE_LIST_TEMPLATE### end -->
		<!-- ###LIST### start -->
		<!-- ###LIST### end -->
		<!-- ###POST_LIST_TEMPLATE### begin -->
		
		<!-- ###POST_LIST_TEMPLATE### end -->
	<!-- ###LIST_TEMPLATE### end -->
<!-- ###RELATED_LIST### end -->
<div id="calendar-event-backlink">###BACK_LINK###</div>
</div>
<!--/event.tmpl-->