<!--list.tmpl-->
<!-- ###LIST_DAY_WRAPPER### begin -->
	<dt><hr></dt>
    <dd> --- Event ---</dd>
<!-- ###LIST_DAY_WRAPPER### end -->

<!-- ###LIST_WEEK_WRAPPER### begin -->
	<dt><hr></dt>
    <dd> --- Week ---</dd>
<!-- ###LIST_WEEK_WRAPPER### end -->

<!-- ###LIST_MONTH_WRAPPER### begin -->
	<dt><hr></dt>
    <dd> --- Month ---</dd>
<!-- ###LIST_MONTH_WRAPPER### end -->


<!-- ###LIST_TEMPLATE### begin -->
<div class="list-view">
<div class="row">
<div class="col-xs-4 col-xs-offset-1">
<div class="legend">
	<div class="unit well Film">Film</div>
	<div class="unit well Music">Music</div>
	<div class="unit well Culture">Culture</div>
	<div class="unit well Action">Action</div>
</div>
</div>
</div>
<!-- ###PAGEBROWSER### begin -->
<p class="pagebrowser">
###PAGEOF###  ###PAGES###  ###PREVIOUS### ###NEXT###
</p>
<!-- ###PAGEBROWSER### end -->

<!-- ###PRE_LIST_TEMPLATE### begin -->
<!-- ###PRE_LIST_TEMPLATE### end -->
<div class="cal_grid">
	<!-- ###LIST### start -->
	
	<!-- ###LIST### end -->
</div>	
<!-- ###POST_LIST_TEMPLATE### begin -->
<!-- ###POST_LIST_TEMPLATE### end -->

<!-- ###PAGEBROWSER### begin -->
<p class="pagebrowser">
###PAGEOF###  ###PAGES###  ###PREVIOUS### ###NEXT###
</p>
<!-- ###PAGEBROWSER### end -->

###CREATE_EVENT_LINK###
<div class="row">
<div class="col-xs-4 col-xs-offset-1">
<div class="legend">
	<div class="unit well Film">Film</div>
	<div class="unit well Music">Music</div>
	<div class="unit well Culture">Culture</div>
	<div class="unit well Action">Action</div>
</div>
</div>
</div>


</div>
<!-- ###LIST_TEMPLATE### end -->
<!--/list.tmpl-->
