<!--list.tmpl-->
<!-- ###LIST_DAY_WRAPPER### begin -->
	<dt><hr></dt>
    <dd> --- Event ---</dd>
<!-- ###LIST_DAY_WRAPPER### end -->

<!-- ###LIST_WEEK_WRAPPER### begin -->
	<dt><hr></dt>
    <dd> --- Week ---</dd>
<!-- ###LIST_WEEK_WRAPPER### end -->

<!-- ###LIST_MONTH_WRAPPER### begin -->
	<dt><hr></dt>
    <dd> --- Month ---</dd>
<!-- ###LIST_MONTH_WRAPPER### end -->


<!-- ###LIST_TEMPLATE### begin -->
<div class="list-view">
<div class="row">
<div class="col-xs-4 col-xs-offset-1">
<div class="legend">
	
	<div class="unit well Music">Musik</div>
	<div class="unit well Culture">Kultur</div>
	<div class="unit well Action">Kunst</div>
</div>
</div>
</div>
<!-- ###PAGEBROWSER### begin -->
<p class="pagebrowser">
###PAGEOF###  ###PAGES###  ###PREVIOUS### ###NEXT###
</p>
<!-- ###PAGEBROWSER### end -->

<!-- ###PRE_LIST_TEMPLATE### begin -->
<!-- ###PRE_LIST_TEMPLATE### end -->
<div class="cal_grid">
	<!-- ###LIST### start -->
	
	<!-- ###LIST### end -->
</div>	
<!-- ###POST_LIST_TEMPLATE### begin -->
<!-- ###POST_LIST_TEMPLATE### end -->

<!-- ###PAGEBROWSER### begin -->
<p class="pagebrowser">
###PAGEOF###  ###PAGES###  ###PREVIOUS### ###NEXT###
</p>
<!-- ###PAGEBROWSER### end -->

###CREATE_EVENT_LINK###
<div class="row">
<div class="col-xs-12 col-md-3 col-md-offset-1">
<div class="legend">
	
	<div class="unit well Music">Musik</div>
	<div class="unit well Culture">Kultur</div>
	<div class="unit well Action">Kunst</div>
</div>
</div>
<div class="col-md-6 ">
	<p><span class="anmeldung"></span> <a href="http://millerntorgallery.org/index.php?id=115&no_cache=1">Mit Anmeldung</a></p>
</div>

</div>


<!-- ###LIST_TEMPLATE### end -->
<!--/list.tmpl-->
