<!--location.tmpl-->
<div class="row">
<div class="col-md-8 col-md-offset-2 well">
<div id="calendar-location"><!-- ###LOCATION### --><!-- ###LOCATION### --></div>

<div id="calendar-location-backlink">###BACK_LINK###</div>
</div>
</div>
<!--/location.tmpl-->
