{namespace theme=KayStrobach\Themes\ViewHelpers}
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:section name="Default">
		<!-- theme_bootstrap: Partials/Area/Footer.html [begin] -->

		<footer id="areaFooter">
			<div class="container">
		
				<div class="footer-line-wrapper col-md-12">
					
							<span><f:format.htmlentitiesDecode>{theme:constant(constant: 'themes.configuration.footer.address')}</f:format.htmlentitiesDecode></span>
					
				</div>
		
				<div class="col-md-4  col-xs-12">
					<div id="footerLogo">
						<f:cObject typoscriptObjectPath="lib.footer.logo.main" />
						<f:cObject typoscriptObjectPath="lib.footer.logo.hoster" />
					</div>
				</div>
				<div class="col-md-4 col-xs-12">
					<div class="menu-footer-wrapper">
						<f:cObject typoscriptObjectPath="lib.menu.footer" />
						<f:cObject typoscriptObjectPath="lib.footer.copyright" />
					</div>
				</div>
						
				<div class="col-md-4  col-xs-12">
					
					<div class="socialmedia-list-wrapper">
						<f:render partial="Socialmedia/List" section="Default" />
					</div>
				</div>
		
				
			</div>
		</footer>

		<!-- theme_bootstrap: Partials/Area/Footer.html [end] -->
	</f:section>
</div>