<f:if condition="{0:feed.raw.type}!={0:'status'}">
	<div class="pb-list-item item pb-list-item-facebook pb-hidden" data-type="{feed.raw.type}" data-id="{feed.id}" data-url="{feed.link}">
		<f:if condition="{feed.raw.full_picture}">
			<f:then>
                <!-- div class="image" data-image-id="{feed.raw.picture}" style="background-image: url({feed.raw.picture})"></div-->
                <img  data-image-id="{feed.raw.full_picture}" src="{feed.raw.full_picture}" />
			</f:then>
			<f:else>
                <div class="image placeholder-image"></div>
            </f:else>
		</f:if>
		<div class="blackwell">
		<f:if condition="{feed.text}">
			<div class="text">{feed.text}</div>
		</f:if>
		<div class="icon"></div>
		<a class="additional-info info-1" href="{feed.link}">
			<f:count>{feed.raw.likes.data}</f:count>
			<f:if condition="{feed.raw.likes.data -> f:count()} > 69"><f:then>+</f:then></f:if>
		</a>
		<a class="additional-info info-2" href="{feed.link}">
			<f:count>{feed.raw.comments.data}</f:count>
			<f:if condition="{feed.raw.comments.data -> f:count()} > 69"><f:then>+</f:then></f:if>
		</a>
	</div>
		<f:if condition="{0:feed.raw.type}=={0:'video'}">
			<img class="video-overlay" src="/typo3conf/ext/pb_social/Resources/Public/Icons/play_icon.png"/>
		</f:if>
	</div>
</f:if>